.container.animation-element
    .row
        .col-12
            .results__brand
                .results__brand__logo
                    include ../../../img/logo.svg

                h5 Бренд профессиональной космецевтики, разработанный компанией ESTILAB BEAUTE FRANCE. Высокая эффективность систем ухода подтверждена клиническими исследованиями.

                .results__brand__image
                    .pic
                        .quotes
                            include ../../../img/i-quotes.svg
                        .img
                    p Мы понимаем, что купить сразу комплекс всех средств для ухода может быть накладно.

                ul
                    li.caption К сожалению, профессиональная космецевтика не может стоить дешево. Впечатляющий результат гарантируют:
                    li инновационные ингредиенты,
                    li научные исследования,
                    li клинические испытания.