.container.animation-element.second-accent-background
    .row
        .col-12
            .results__for-you
                h4 Мы подобрали комплекс средств именно для вашей кожи

                p Это профессиональный протокол ухода, которому вы можете следовать дома. Без дорогих салонных процедур.