.container.animation-element
    .row
        .col-12
            .results__important
                h5 важно
                p
                    span Такой результат можно получить только при использовании всего комплекса средств протокола ухода.
                    span Компоненты подобраны таким образом, что усиливают и дополняют действие друг друга.
                    span Применение отдельных средств без соблюдения протокола ухода не даст постоянного результата.