.container.animation-element
    .row
        .col-12
            .results__res-slider
                h4 Посмотрите результаты

                h5 соблюдения протокола ухода

                .results__res-slider__wrapper

                    .slider
                        mark
                            p листайте
                            span.slide-horizontal-animation
                                include ../../../img/i-scroll-hand.svg

                        .swiper
                            .swiper-wrapper
                                include ../reviews/1
                                include ../reviews/2
                                include ../reviews/3
                                include ../reviews/4
                                include ../reviews/5
                                include ../reviews/6
                                include ../reviews/7
                            .swiper-pagination