.results__header
    .container.animation-element
        .row.align-items-center
            .col-6
                .pic
                    include ../../../img/logo.svg
            .col-6.d-flex.justify-content-end
                a(href="tel:+1234567890")
                    include ../../../img/i-phone.svg
                    include ../../../img/i-phone-arr.svg

.container.animation-element
    .row
        .col-12
            h2.results__title.d-flex.flex-column.align-items-center
                span.accent Поздравляем!
                span.normal Вы успешно прошли тест

.container.animation-element
    .row
        .col-12
            h2.results__subtitle
                | Эксперты-дерматологи подготовили
                br
                | для вас персональные рекомендации

.container.animation-element
    .row
        .col-12
            span.results__title-line