.container.animation-element
    .row
        .col-12
            .results__retest
                button.retest.btn_next-step.__full-reset(type="button" data-next-step-id="#questionAge") Пройти тест ещё раз