.container.animation-element
    .row
        .col-12
            .results__rite
                h4
                    | Соблюдаем такой ритуал
                    br
                    | красоты 3 месяца

                h5
                    | За это время мы перезапускаем
                    br
                    | механизмы себорегулирования кожи

                p
                    | Теперь она не производит излишнего
                    br
                    | кожного сала, поры не забиваются&nbsp;
                    br.d-md-none
                    | и не воспаляются.

                span Ваша кожа чистая, свежая и сияющая.