h5.sale__title
    | Всем, кто прошел тест,
    br
    | компания ESTILAB&nbsp;
    span.accent-secondary дарит скидку
    br
    | на профессиональную
    br
    | космецевтику ICON SKIN

.sale__percent
    span 20%
    p
        | на подобранный
        br
        | системой набор

.sale__time
    | Скидка действует в течение&nbsp;
    span.accent-secondary 3 дней
    br
    | после прохождения теста

.sale__link
    a.btn.animation-line._vendorLink(href="#" target="_blank")
        | Перейти в магазин
        br
        | за своим набором

.sale__timeout Акция ограничена по сроку

.sale__share-txt
    | Если у вас есть подруги, которым
    br
    | это важно — скорее делитесь
    br
    | с ними ссылкой на тест.
    br
    | Подарите им красоту!

a.sale__share-link
    span.__openModalShare(data-target="#shareQuizLink")
        include ../../../img/i-share-arr.svg
        | Поделиться