.container.animation-element
    .row
        .col-12
            .results__cosmetologist
                .results__cosmetologist__pic
                    .results__cosmetologist__quotes
                        include ../../../img/i-quotes.svg

                    .results__cosmetologist__img

                p
                    span Отдельные средства в уходе за жирной и комбинированной кожей не дают выраженного эффекта.
                    span Нужен комплексный подход, в результате которого кожа перестроится на здоровый режим работы.