.container.animation-element
    .row
        .col-12
            .results__socials
                h5
                    | Получите свой протокол ухода
                    br
                    | и промокод на скидку
                    br
                    | в любимый мессенджер

                .results__socials__sale
                    img.protocols(data-src="img/protocols/seventh.png" src="" alt="")

                ul.results__socials__link-list
                    li
                        a.icon_whatsapp(href="https://www.whatsapp.com/" target="_blank")
                            include ../../../img/icon-whatsapp.svg
                            span WhatsApp
                    li
                        a.icon_telegram(href="https://telegram.org/" target="_blank")
                            include ../../../img/icon-telegram.svg
                            span Telegram
                    li
                        a.icon_viber(href="https://www.viber.com/ru/" target="_blank")
                            include ../../../img/icon-viber.svg
                            span Viber

                p
                    |Чтобы получить протокол и промокод, нажмите
                    br
                    | кнопку “Начать” после перехода в мессенджер