.container.animation-element
    .row
        .col-12
            .results__subscribe
                h5
                    span
                    p Получайте больше полезной информации в нашей АНТИАКНЕ-рассылке: советы по уходу, способы профилактики, инновации в отрасли от профессионального косметолога

                form(action="")
                    p.form__group
                        label
                            input.form__control(
                                type='email'
                                name="email"
                                placeholder='Ваш email')

                    p
                        button.btn(type='submit' disabled)
                            | Перейти в магазин
                            br
                            | за своим набором