.container.animation-element._whereBuyBtn
    .row
        .col-12
            .results__buy-where
                button.btn.animation-line(type="button" data-toggle="modal" data-target="#whereBuyWithSale") Где купить набор со скидкой?