@import "../scss/variables";

.footer {
    font-size: 14px;
    line-height: 17px;
    background-color: $color-accent-secondary;
    padding: 16px 0;

    a {
        color: $color-font-in-accent;
        text-decoration: none;
    }

    &__policy {
        margin-bottom: 12px;
    }
}