.container
    .row.align-items-end
        .col-12.footer__policy
            a(href="#")
                | Политика
                br
                | конфиденциальности

        .col-6
            a(href="/") ICON SKIN

        .col-6.d-flex.justify-content-end.align-items-end
            a(href="https://quiz24.ru/" target="_blank") Сделано Quiz24