section#questionTwo.step.hidden(
    data-this-step-id="questionTwo"
    data-next-step-id="questionThree"
    data-prev-step-id="questionOne")
    .step__wrap
        .container.animation-element
            .row
                .col-12
                    h3.section__title Заголовок второго вопроса

        .container.animation-element
            .row
                .col-12
                    p Содержание второго вопроса

        .container.animation-element
            .row
                .col-12
                    button.btn.btn_prev-step Назад
                    button.btn.btn_next-step Далеше