section#progressBar
    .container
        .row
            .col-12.col-md-8.col-lg-6
                .progress-barr.d-flex
                    span.progress-barr__section.progress-barr__section_active
                    span.progress-barr__section
                    span.progress-barr__section
                    span.progress-barr__section
                    span.progress-barr__section