//- .questions-caption__wrap_invisible
.container#questionsCaption.questions-caption__wrap
    .row
        .col-12
            .questions-caption.d-flex.justify-content-center.align-items-center
                span Давайте узнаем о вашей коже больше!