#shareQuizLink.modal
    .modal__dialog
        .modal__content
            button.modal__close(type='button')

            .modal__body
                include ../../../pages/index/components/share