#subscribeModal.modal.modal_consultation
    //- .modal__dialog_hide .hidden
    .modal__dialog
        .modal__content
            button.modal__close(type='button')

            .modal__header
                h5.modal__title СПАСИБО!

            .modal__body
                p.modal__subtitle Сообщение отправлено.