#videoPresentationModal.modal.modal_video
    .modal__dialog
        .modal__video-content
            button.modal__close(type='button') ×
            video(controlslist="nodownload"
                disablepictureinpicture=""
                playsinline=""
                preload="auto"
                src="video/promotion.mp4")
                source(src="video/promotion.mp4" type="video/mp4")