.slider
    mark
        p листайте
        span.slide-horizontal-animation
            include ../../../../img/i-scroll-hand.svg
    .swiper
        .swiper-wrapper

            .swiper-slide
                .card
                    img(src="img/products/7herbs.jpg" alt="")

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Энзимы папаин и бромелайн
                            | растворяют слой мертвых клеток, обеспечивают деликатную, но эффективную очистку кожи, выравнивая ее рельеф и тон. Кожа становится более гладкой, свежей, сияющей.
                        li
                            span Фармацевтический каолин
                            | , как магнит, вытягивает загрязнения из пор и поглощает токсины. Впитывает излишки кожного сала, успокаивает кожу и снимает раздражение.
                        li
                            span Витамин С
                            | выравнивает тон лица и осветляет следы постакне, усиливает действие энзимов в составе пудры. Обладает защитными свойствами и снижает риск развития кожных заболеваний. Ускоряет выработку собственного коллагена.
            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Аминокислота лизин
                            | оказывает увлажняющее и регенеративное действие. Способствует восстановлению тканей. Усиливает синтез собственного коллагена.
                        li
                            span Комплекс растительных экстрактов
                            | успокаивает кожу, уменьшает покраснение и раздражения, заживляет и регенерирует.

        .swiper-pagination