.slider
    mark
        p листайте
        span.slide-horizontal-animation
            include ../../../../img/i-scroll-hand.svg
    .swiper
        .swiper-wrapper

            .swiper-slide
                .card
                    img(src="img/products/acne-free-solution.jpg" alt="")

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            spna Амид азелаиновой кислоты
                            | оказывает себорегулирующее и осветляющее действие, корректирует проявления акне.
                        li
                            spna Миндальная кислота
                            | мягко отшелушивает и обновляет кожу, обеспечивает антибактериальный эффект, осветляет.
                        li
                            spna Молочная кислота
                            | обладает увлажняющими, отбеливающими и противовоспалительными свойствам
                        li
                            spna Cалициловая кислота
                            | обладает противовоспалительными, антибактериальными и кератолитическими свойствами. Глубоко очищает поры и предотвращает их закупоривание, регулирует деятельность сальных желез.

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Антиакне-комплекс
                            | эффективно борется с угревой сыпью, устраняет гиперсеборею, гиперкератоз, воспаление и развитие P. Acne бактерий.
                        li
                            span Экстракт канадского кипрея
                            | оказывает антибактериальное действие, обладает противовоспалительным и успокаивающим эффектами, уменьшает раздражения.
                        li
                            span Алоэ вера гель и пантенол
                            | увлажняют кожу, уменьшают воспаления и ускоряют регенерацию.

        .swiper-pagination