.slider
    mark
        p листайте
        span.slide-horizontal-animation
            include ../../../../img/i-scroll-hand.svg
    .swiper
        .swiper-wrapper

            .swiper-slide
                .card
                    img(src="img/products/aqua-essence.jpg" alt="")

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Пептидные комплексы
                            | замедляют процессы старения и предупреждают появление возрастных изменений.
                        li
                            span Себорегулирующий комплекс
                            | на основе молочных протеинов способствует восстановлению водно-липидной пленки сухой кожи и уменьшению выделения кожного сала жирной кожи.
                        li
                            span Гиалуроновая кислота
                            | интенсивно увлажняет и восстанавливает водный баланс кожи, разглаживает морщины, активирует защитные свойства кожи.
                        li
                            span Увлажняющий комплекс
                            | на основе фруктоолигосахаридов и экстракта свеклы  оказывает мгновенное и длительное увлажнение.
                        li
                            span Экстракт центеллы азиатской
                            | стимулирует синтез коллагена, делает кожу упругой и подтянутой.
                        li
                            span Экстракт канадского кипрея
                            | оказывает антибактериальное действие, обладает противовоспалительным и успокаивающим эффектами.

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Ниацинамид (витамин В3)
                            | улучшает внешний вид, цвет и текстуру кожи, сокращает размер пор.
                        li
                            span Витамин Е
                            | является мощным антиоксидантом, который защищает клетки от УФ повреждения и агрессивного воздействия окружающей среды.
                        li
                            span Пантенол
                            | ускоряет регенерацию, снимает раздражение, повышает прочность волокон коллагена.
                        li
                            span Гель алоэ вера
                            | обладает увлажняющим, успокаивающим и заживляющим действием. Защищает кожу от негативных факторов окружающей среды.
                        li
                            span Пребиотик
                            | восстанавливает естественную экосистему здоровой кожи и поддерживает ее иммунитет.

        .swiper-pagination