.slider
    mark
        p листайте
        span.slide-horizontal-animation
            include ../../../../img/i-scroll-hand.svg
    .swiper
        .swiper-wrapper

            .swiper-slide
                .card
                    img(src="img/products/clear-derm.jpg" alt="")

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Азелоглицин
                            | обладает себорегулирующим действием, уменьшает выработку кожного сала тем самым помогает предотвратить появление угревой сыпи.
                        li
                            span 2 вида пептидов
                            | стимулируют синтез эластина и коллагена, улучшают качество восстановительных процессов кожи, укрепляют матрикс дермы.
                        li
                            span Цинк, экстракт канадского кипрея и масло чаульмугры
                            | обладают антибактериальным действием, способствуют быстрой регенерации клеток, успокаивают кожу, уменьшает зуд и раздражение. Уменьшают проявление акне.
                        li
                            span Экстракт коры магнолии, масло черного тмина и мануки
                            | нормализуют секрецию сальных желез, уменьшают воспаления кожи и угревую сыпь.

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Растительный пребиотик
                            | восстанавливает баланс микробиома кожи и поддерживает естественный кожный защитный барьер.
                        li
                            span Гиалуроновая кислота
                            | увлажняет, создает «водный резервуар» внутри кожи и на ее поверхности, препятствует трансэпидермальной потере влаги, поддерживает эластичность и тонус кожи.
                        li
                            span Эктоин
                            | увлажняет, предотвращает повреждение клеток, обеспечивает регенерацию раздраженной кожи, восстанавливает защитный барьер кожи, тормозит процесс старения, защищает от УФ-излучения.
                        li
                            span Пантенол
                            | обладает заживляющим, увлажняющим, смягчающим и разглаживающим действием.

        .swiper-pagination