.slider
    mark
        p листайте
        span.slide-horizontal-animation
            include ../../../../img/i-scroll-hand.svg
    .swiper
        .swiper-wrapper

            .swiper-slide
                .card
                    img.res-picture(data-src="img/products/herbal-power.jpg" src="" alt="")

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Себорегулирующий биотехнологический комплекс
                            | на основе молочных протеинов  способствует  восстановлению водно-липидной пленки на сухих участках кожи и уменьшает выделение себума на участках с повышенной жирностью.

                        li
                            span Комплекс аминокислот
                            | наполняет кожу влагой, повышает ее эластичность и упругость, укрепляет защитные функции кожи.

                        li
                            span Экстракт розмарина
                            | обладает антисептическими и противовоспалительными свойствами, снимает раздражение кожи.

                        li
                            span Жемчужная пудра
                            | улучшает клеточный обмен и омолаживает, замедляет старение, активирует вялую, уставшую кожу, повышает ее иммунные способности.  Ускоряет процессы регенерации тканей, укрепляет, успокаивает и отбеливает.

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Гидролат кипрея
                            | оказывает противовоспалительное и антиоксидантное действие, успокаивает чувствительную кожу.
                        li
                            span Гель алоэ вера
                            | снимает раздражение, защищает кожу от пересушивания, дает противовоспалительный и увлажняющий эффект.
                        li
                            span Экстракт канадского кипрея
                            | успокаивает кожу, уменьшает покраснение и раздражения, заживляет и регенерирует.
                        li
                            span Аллантоин
                            | снимает раздражение, успокаивает, способствует заживлению и обновлению кожи.

        .swiper-pagination