.slider
    mark
        p листайте
        span.slide-horizontal-animation
            include ../../../../img/i-scroll-hand.svg
    .swiper
        .swiper-wrapper

            .swiper-slide
                .card
                    img.res-picture(data-src="img/products/ideal-balance.jpg" src="" alt="")

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Миндальная кислота
                            | обеспечивает мягкое атравматичное обновление кожи без видимых повреждений, оказывает антибактериальный эффект, нормализует работу сальных желез, уменьшает размер пор, осветляет тон.

                        li
                            span Молочная кислота
                            | обладает увлажняющими, отшелушивающими и отбеливающими свойствами.

                        li
                            span Лимонная кислота
                            | глубоко очищает и стягивает поры, уменьшает гиперпигментацию.

                        li
                            span Яблочная кислота
                            | усиливает клеточный метаболизм, повышает упругость и эластичность кожи, выравнивает цвет лица.

                        li
                            span Янтарная кислота
                            | , биосовместимая с кожей, улучшает прочность сосудистых стенок, способствует детоксикации кожи, возвращает  ей сияние и упругость.

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Салицилат натрия
                            | обладает антисептическими, противовоспалительными и кератолическими свойствами, ускоряет процесс отшелушивания ороговевших клеток и способствует уменьшению салоотделения.
                        li
                            span Азелоглицин
                            | оказывает себорегулирующее действие, уменьшает выработку кожного сала и тем самым помогает предотвратить появление угревой сыпи.
                        li
                            span Комплекс аминокислот
                            | наполняет кожу влагой, повышает ее эластичность и упругость, укрепляет защитные функции кожи.
                        li
                            span Комплекс растительных экстрактов
                            | успокаивает кожу, уменьшает покраснение и раздражения, заживляет и регенерирует.

        .swiper-pagination