.slider
    mark
        p листайте
        span.slide-horizontal-animation
            include ../../../../img/i-scroll-hand.svg
    .swiper
        .swiper-wrapper

            .swiper-slide
                .card
                    img.res-picture(data-src="img/products/matte-&-care.jpg" src="" alt="")

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Антиакне-комплекс
                            | (олеаноловая и нордигидрогваяретовая кислоты) борется с угревой сыпью и снимает воспаления, вызванные гиперкератозом, предотвращает избыточное выделение кожного сала, регулирует размножение бактерий и делает кожу матовой и гладкой.
                        li
                            span Себорегулирующий комплекс
                            | (синергетическое сочетание экстракта энантия хлоранта и олеаноловаой кислоты) уменьшает выработку кожного сала, устраняет жирный блеск, сокращает поры, препятствует закупорке пор и образованию комедонов (черных точек).
                        li
                            span Цинк
                            | нормализует себообразование, оказывает антибактериальное и матирующее действие, является компонентом естественного фактора увлажнения кожи.

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Пребиотический комплекс
                            | (актив из инулина + альфа-глюкана олигосахарида) восстанавливает естественную экосистему здоровой кожи и поддерживает ее иммунитет, снижает проницаемость кожного покрова для болезнетворных и вредных микроорганизмов.
                        li
                            span Ниацинамид
                            | стимулирует синтез коллагена и улучшает защитные функции кожи.
                        li
                            span Экстракт розмарина
                            | обладает антисептическим и противовоспалительным свойствами, снимает раздражение кожи.
                        li
                            span Ментол
                            | охлаждает кожу и сужает расширенные поры. Уменьшает активность сальных желез, снимает отечность, тонизирует кожу.

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Азелоглицин
                            | (азелаиновая кислота + глицин) успокаивает кожу, уменьшает покраснения, увлажняет. Обладает себорегулирующим действием, уменьшает выработку кожного сала, за счет чего предотвращает появление угревой сыпи.
                        li
                            span Увлажняющий комплекс
                            | (инкапсулированная ламинария с "шаттловой" системой поступления в кожу) предотвращает трансэпидермальную потерю влаги, а также поддерживает уровень увлажненности. В процессе применения активные компоненты поступают через систему с контролируемым высвобождением в коже, обеспечивая эффективное и длительное увлажнение.
                        li
                            span Витамин E
                            | стимулирует процессы регенерации и обновления клеток. Замедляет процессы старения.

        .swiper-pagination