.slider
    mark
        p листайте
        span.slide-horizontal-animation
            include ../../../../img/i-scroll-hand.svg
    .swiper
        .swiper-wrapper

            .swiper-slide
                .card
                    img(src="img/products/night-miracle.jpg" alt="")

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Миндальная кислота
                            | атравматично растворяет верхний слой мертвых клеток и способствует обновлению кожи. Выравнивает рельеф и помогает осветлить пятна постакне. Нормализует работу сальных желез, уничтожает сальные пробки в протоках волосяных фолликулов, уменьшает размер пор. Обладает выраженными антисептическими свойствами – подавляет рост и размножение патогенных микроорганизмов, снижает риск развития инфекции или воспаления.
                        li
                            span Молочная кислота
                            | обладает увлажняющим, отшелушивающим и отбеливающим свойствами, восстанавливает защитные барьеры кожи.
                        li
                            span Глюконолактон
                            | относится к семейству РНА-кислот, оказывает противовоспалительное и увлажняющее действие, улучшает иммунный статус кожи.

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Салицилат натрия
                            | обладает антисептическим, противоовоспалительным и кератолическим действием, ускоряет процесс отшелушивания ороговевших клеток и способствует уменьшению салоотделения. Является производной салициловой кислоты, но оказывает деликатное воздействие на кожу, за счет чего безопасен даже во время беременности и лактации.
                        li
                            span Азелоглицин
                            | обладает себорегулирующим действием, уменьшает выработку кожного сала тем самым помогает предотвратить появление угревой сыпи.
                        li
                            span Гиалуроновая кислота
                            | увлажняет, создает «водный резервуар» внутри кожи и на ее поверхности. Препятствует трансэпидермальной потере влаги. Поддерживает эластичность и тонус кожи.

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Эфирные масла эвкалипта и лимона
                            | оказывают мощное дезинфицирующее, противовоспалительное, антисептическое действия. Устраняют раздражение, отечность и зуд. Выравнивают тон кожи и уменьшают воспаления. Освежают и тонизируют кожу.
                        li
                            span Витамин E
                            | - мощный антиоксидант. Защищает клетки от УФ повреждения и агрессивного воздействия окружающей среды. Помогает коже лучше удерживать и сохранять влагу, стимулирует защитные механизмы кожи.

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Комплекс аминокислот
                            | наполняет кожу влагой, повышает ее эластичность и упругость, уукрепляет защитную функции кожи.
                        li
                            span Бисаболол
                            | оказывает антимикробное, антибактериальное и противовоспалительное действие. Выравнивает поверхность кожи и придает ей равномерный оттенок. Успокаивает и снимает раздражение.
                        li
                            span Экстракты нима
                            | , солодки и канадского кипрея обладают антибактериальным действием, способствуют быстрой регенерации клеток, успокаивают кожу, уменьшает зуд и раздражение. Сокращают проявление акне.

        .swiper-pagination