.slider
    mark
        p листайте
        span.slide-horizontal-animation
            include ../../../../img/i-scroll-hand.svg
    .swiper
        .swiper-wrapper

            .swiper-slide
                .card
                    img.res-picture(data-src="img/products/pure-sonic.jpg" src="" alt="")

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Фармацевтический каолин
                            | , как магнит, вытягивает загрязнения из пор и поглощает токсины. Впитывает излишки кожного сала, успокаивает кожу и снимает раздражение.
                        li
                            span Антиакне комплекс
                            | (олеаноловая и нордигидрогваяретовая кислоты) борется с угревой сыпью и снимает воспаления, вызванные гиперкератозом, предотвращает избыточное выделение кожного сала, регулирует размножение бактерий и матирует кожу.
                        li
                            span Д-пантенол
                            | обладает заживляющим, увлажняющим, смягчающим и разглаживающим действиями.
                        li
                            span Гель Алоэ Вера и экстракт ромашки
                            | снимают раздражение, защищают кожу от пересушивания, обладают противовоспалительным и бактерицидными свойствами.

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Энзимы папаин и бромелайн
                            | растворяют слой мертвых клеток, обеспечивают деликатное, но эффективное очищение кожи, выравнивая ее рельеф и тон. Стимулируют обновление и регенерацию клеток, а также повышают биодоступность средств, которые наносятся после этапа очищения.
                        li
                            span Салициловая кислота
                            | оказывает отшелушивающее действие, размягчает пробки в фолликулах, препятствует образованию комедонов. Очищает поры и нормализует работу сальных желез. Оказывает антисептическое и антибактериальное действие. Обладает обеззараживающим и противовоспалительным свойствами. Усиливает действие ферментов в составе пудры.

        .swiper-pagination