.slider
    mark
        p листайте
        span.slide-horizontal-animation
            include ../../../../img/i-scroll-hand.svg
    .swiper
        .swiper-wrapper

            .swiper-slide
                .card
                    img(src="img/products/scin-zen.jpg" alt="")

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Комплекс пробиотиков
                            | восстанавливает естественную экосистему здоровой кожи и поддерживает ее иммунитет, снижает проницаемость кожного покрова для болезнетворных и вредных микроорганизмов.
                        li
                            span Аллантоин
                            | снимает раздражение, успокаивает, способствует заживлению и обновлению кожи.
                        li
                            span Ниацинамид
                            | (витамин В3) улучшает внешний вид, цвет и текстуру кожи, сокращает размер пор, стимулирует синтез коллагена. Улучшает барьерную функцию кожи.
                        li
                            span Комплекс церамидов и фосфолипидов
                            | восстанавливает функциональные возможности эпидермиса и липидный барьер внешнего слоя кожи, обеспечивает увлажнение и препятствует обезвоживанию.

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Гидролизованный молочный протеин
                            | способствует восстановлению водно-липидной пленки, уменьшает выделение кожного себума, препятствует образованию комедонов.
                        li
                            span Бисаболол
                            | оказывает успокаивающее и противовоспалительное действие.
                        li
                            span Морской полисахарид
                            | улучшает структуру кожи, выравнивая ее, создает защитный слой на поверхности кожи, сокращает чувствительность и реактивность, сужает поры и препятствует росту бактерий.
                        li
                            span Гиалуроновая кислота
                            | обеспечивает пролонгированное увлажнение, восстанавливает водный баланс кожи.

        .swiper-pagination