.slider
    mark
        p листайте
        span.slide-horizontal-animation
            include ../../../../img/i-scroll-hand.svg
    .swiper
        .swiper-wrapper

            .swiper-slide
                .card
                    img(src="img/products/sebum-lock.jpg" alt="")

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Оксид цинка
                            | регулирует работу сальных желез, оказывает обезораживающее и вяжущее действие. Образует на коже защитный слой, ограничивающий воздействие на нее неблагоприятных и раздражающих факторов.Экстракт зеленого чая  обладает высокой антиоксидантной активностью, уменьшает негативные последствия УФ-излучения.
                        li
                            span Экстракт березовых листьев
                            | обладает антибактериальным эффектом, регулирует выработку себума, укрепляет сосуды.
                        li
                            span Экстракт коры белой ивы
                            | нормализует салоотделение, сужает поры, улучшает состояние кожи и цвет лица.
                        li
                            span Экстракт клюквы
                            | тонизирует, устраняет жирный блеск, увлажняет и омолаживает.

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Экстракт календулы
                            | обладает антисептическими и противовоспалительными свойствами, снимает раздражение кожи.
                        li
                            span Экстракт лаванды
                            | очищает кожу, нормализует работу сальных желез, сужает поры.
                        li
                            span Пудра тапиоки
                            | оказывает смягчающее и выравнивающее действие, придает коже бархатистость.
                        li
                            span Каламин
                            | абсорбирует излишки кожного сала, оказывает матирующее и успокаивающее действие, выравнивает тон кожи.
                        li
                            span Пудра жемчуга
                            | улучшает клеточный обмен и омолаживает, замедляет старение, активирует вялую, уставшую кожу, повышает ее иммунные способности. Ускоряет процессы регенерации тканей, укрепляет и успокаивает. Обладает легкими отбеливающими свойствами, выравнивает тон кожи и улучшает цвт лица.

        .swiper-pagination