.slider
    mark
        p листайте
        span.slide-horizontal-animation
            include ../../../../img/i-scroll-hand.svg
    .swiper
        .swiper-wrapper

            .swiper-slide
                .card
                    img(src="img/products/sensi-care.jpg" alt="")

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Экстракт бессмертника
                            | оказывает успокаивающий эффект, уменьшает покраснения, снижает реактивность кожи;
                        li
                            span Гиалуроновая кислота
                            | устраняет ощущение стянутости и дискомфорта после умывания;
                        li
                            span Комплекс пре- и пробиотиков
                            | укрепляет защитный барьер кожи, восстанавливает естественный баланс микрофлоры на ее поверхности: уменьшают количество вредных бактерий и увеличивают количество полезных бактерий;
                        li
                            span Гель алоэ вера
                            | смягчает и увлажняет кожу, оказывает противовоспалительный эффект.

        .swiper-pagination