.slider
    mark
        p листайте
        span.slide-horizontal-animation
            include ../../../../img/i-scroll-hand.svg
    .swiper
        .swiper-wrapper

            .swiper-slide
                .card
                    img.res-picture(data-src="img/products/smart-peel-system-11.jpg" src="" alt="")

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Миндальная кислота
                            | безопасно растворяет верхний слой мертвых клеток и способствует обновлению кожи. Обеспечивает мягкий атравматичный пилинг без видимых повреждений, оказывает антибактериальный эффект, нормализует работу сальных желез, уменьшает размер пор, осветляет тон.
                        li
                            span Салициловая кислота
                            | (производное) оказывает отшелушивающее действие, размягчает пробки в фолликулах, препятствует образованию комедонов. Очищает поры и нормализует работу сальных желез. Обладает антисептическими и антибактериальными свойствами. Усиливает действие других кислот в составе.

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Лимонная кислота
                            | очищает поры и оказывает осветляющее действие.
                        li
                            span Антиакне комплекс
                            | (олеаноловая и нордигидрогваяретовая кислоты) борется с высыпаниями, устраняя гиперсеборею, гиперкератоз и пролиферацию бактерий. Регулирует себовыделение.
                        li
                            span Д-пантенол, аллантоин, экстракт арники
                            | снимают раздражение, защищают кожу от пересушивания и успокаивают ее. Помогают заживлению и восстановлению кожи. Арника освежает цвет лица, убирает покраснения, способствует избавлению от угрей и отеков.

        .swiper-pagination