.slider
    mark
        p листайте
        span.slide-horizontal-animation
            include ../../../../img/i-scroll-hand.svg
    .swiper
        .swiper-wrapper

            .swiper-slide
                .card
                    img.res-picture(data-src="img/products/smart-peel-system.jpg" src="" alt="")

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Миндальная кислота
                            | обеспечивает мягкое атравматичное обновление кожи без видимых повреждений, дает антибактериальный эффект, нормализует работу сальных желез, уменьшает размер пор, осветляет тон.
                        li
                            span Салициловая кислота
                            | обладает выраженным антисептическим и кератолитическим действием.
                        li
                            span Азелаиновая кислота
                            | подавляет рост P.Acne-бактерий, участвующих в процессе формирования акне, замедляет выработку кожного сала, борется с образованием комедонов, обладает противовоспалительным действием. Способствует уменьшению гиперпигментации.

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Запатентованный антиакне-комплекс
                            | (Nordihydroguaiaretic Acid, Oleanolic Acid) эффективно борется с угревой сыпью, устраняет гиперсеборею, гиперкератоз, воспаление и развитие P.Acne-бактерий.
                        li
                            span Д-пантенол
                            | обладает заживляющими, увлажняющими, смягчающими и разглаживающими свойствами.

        .swiper-pagination