.slider
    mark
        p листайте
        span.slide-horizontal-animation
            include ../../../../img/i-scroll-hand.svg
    .swiper
        .swiper-wrapper

            .swiper-slide
                .card
                    img.res-picture(data-src="img/products/supreme-glow.jpg" src="" alt="")

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span 2 формы стабильного витамина С
                            | борются с окислительным стрессом, стимулируют синтез коллагена и выравнивают тон кожи.
                        li
                            span Экстракт австралийской сливы
                            | − богатейший природный источник витамина С. Усиливает сияние (+30%) и яркость кожи. Уменьшает выраженность морщин.
                        li
                            span Витамин Е
                            | стимулирует процессы регенерации и обновления клеток.
                        li
                            span Ниацинамид
                            | улучшает тон кожи, оказывает омолаживающее воздействие, стимулирует синтез коллагена.

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Пептиды
                            | стимулируют синтез 5 типов коллагена (I типа + 110%, III типа +39%, IV типа +190%, VII типа +60% и   XVII типа +120%), повышают упругость и тонус кожи. Способствуют разглаживанию морщин, выравнивают микро-рельеф кожи.
                        li
                            span Экстракт красного клена
                            | борется с процессами старения, проявляя анти-оксидантную и противовоспалительную активность. Стимулирует выработку эластина, делая кожу более гладкой и молодой.
                        li
                            span 3D гиалуроновая кислота
                            | (низко-, средне и высокомолекулярные формы) и эктоин увлажняют кожу и повышают ее упругость.

        .swiper-pagination