.swiper-slide
    .card.card_content
        h5.card__title Активные  компоненты:

        ul.card__list
            li
                span Миндальная кислота
                | обеспечивает мягкое атравматичное обновление кожи без видимых повреждений, оказывает антибактериальный эффект, нормализует работу сальных желез, уменьшает размер пор, осветляет тон.
            li
                span Молочная кислота
                | обладает увлажняющими, отшелушивающими и отбеливающими свойствами.
            li
                span Лимонная кислота
                | глубоко очищает и стягивает поры, уменьшает гиперпигментацию.
            li
                span Яблочная кислота
                | усиливает клеточный метаболизм, повышает упругость и эластичность кожи, выравнивает цвет лица.
            li
                span Янтарная кислота
                | , биосовместимая с кожей, улучшает прочность сосудистых стенок, способствует детоксикации кожи, возвращает  ей сияние и упругость.





