.slider
    mark
        p листайте
        span.slide-horizontal-animation
            include ../../../../img/i-scroll-hand.svg
    .swiper
        .swiper-wrapper

            .swiper-slide
                .card
                    img.res-picture(data-src="img/products/ultra-skin.jpg" src="" alt="")

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Na PCA
                            | (компонент Натурального Увлажняющего Фактора кожи) увлажняет, сохраняет эластичность кожи, придает ей гладкость и бархатистость.
                        li
                            span Гель Алоэ Вера
                            | снимает раздражение, защищает кожу от пересушивания, обладает противовоспалительным и увлажняющим действиями.
                        li
                            span Экстракт ромашки
                            | оказывает антисептической действие, успокаивает кожу и снимает локальные воспаления.
                        li
                            span Д-пантенол
                            | обладает заживляющим, увлажняющим, смягчающим и разглаживающим действием.
                        li
                            span Ментол
                            | охлаждает кожу и сужает расширенные поры. Уменьшает активность сальных желез, обладает  противовоспалительными свойствами, снимает отечность и тонизирует кожный покров.

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Антиакне комплекс
                            | (олеаноловая и нордигидрогваяретовая кислоты) борется с угревой сыпью и снимает воспаления, вызванные гиперкератозом, предотвращает избыточное выделение кожного сала, регулирует размножение бактерий и делает кожу матовой и гладкой.
                        li
                            span Себорегулирующий комплекс
                            | уменьшает выработку кожного сала, устраняет жирный блеск, сокращает поры, препятствует закупорке пор и образованию комедонов (черных точек).
                        li
                            span Цинк
                            | нормализует себообразование, оказывает антибактериальное и матирующее действие, является компонентом естественного фактора увлажнения кожи.
                        li
                            span Молочная кислота
                            | придает гладкость коже и выравнивает ее рельеф, ускоряет процесс самоочищения пор и предотвращает закупоривание протоков сальных желез и образование комедонов (черных точек).

        .swiper-pagination