.slider
    mark
        p листайте
        span.slide-horizontal-animation
            include ../../../../img/i-scroll-hand.svg
    .swiper
        .swiper-wrapper

            .swiper-slide
                .card
                    img.res-picture(data-src="img/products/wow-effect.jpg" src="" alt="")

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Фармацевтический каолин и голубая кембрийская глина
                            | вытягивают загрязнения из пор кожи и поглощают токсины. Впитывают излишки кожного сала, успокаивают кожу и снимают раздражение. Стимулируют обновление клеток и обмен веществ в тканях.
                        li
                            span Салициловая кислота
                            | оказывает отшелушивающее действие, размягчает пробки в фолликулах, препятствует образованию комедонов. Очищает поры и нормализует работу сальных желез. Оказывает антисептическое и антибактериальное действие. Обладает обеззараживающими и противовоспалительными свойствами.
                        li
                            span Оксид цинка
                            | регулирует работу сальных желез, оказывает обезораживающее и вяжущее действие. Образует на коже защитный слой, ограничивающий воздействие на нее неблагоприятных и раздражающих факторов.

            .swiper-slide
                .card.card_content
                    h5.card__title Активные компоненты:

                    ul.card__list
                        li
                            span Антиакне-комплекс
                            | (олеаноловая и нордигидрогваяретовая кислоты) борется с угревой сыпью и снимает воспаления, вызванные гиперкератозом, предотвращает избыточное выделение кожного сала, регулирует размножение бактерий и матирует кожу.
                        li
                            span Успокаивающий комплекс
                            | на основе экстракта пории кокосовидной и вытяжки тростника карка успокаивает кожу и восстанавливает ее баланс.
                        li
                            span Экстракты еловой хвои, календулы, ромашки, конского каштана и прополиса
                            | дают противовоспалительный эффект, оказывают бактерицидное действие, улучшают регенерацию клеток. Освежают кожу и улучшают кровообращение.
                        li
                            span Комплекс аминокислот
                            | наполняет кожу влагой, повышает ее эластичность и упругость, укрепляет защитные функции кожи.
                        li
                            span Масло черного тмина
                            | нормализует секрецию сальных желез, уменьшает воспаления кожи и угревую сыпь.

        .swiper-pagination