section#questionFour.step.hidden(
    data-this-step-id="questionFour"
    data-next-step-id="questionFive"
    data-prev-step-id="questionThree")
    .step__wrap
        .container.animation-element
            .row
                .col-12
                    h3.section__title Заголовок четвертого вопроса

        .container.animation-element
            .row
                .col-12
                    p Содержание четвертого вопроса

        .container.animation-element
            .row
                .col-12
                    button.btn.btn_prev-step Назад
                    button.btn.btn_next-step Далеше