.container.animation-element.card-morning.card-morning_additional._resultPostAcne
    .row
        .col-12
            .recommendations
                h5.recommendations__subtitle.accent
                    | Избавляемся от постакне
                    span
                        | ваша кожа выглядит сияющей,
                        br
                        | упругой и эластичной

        .col-12
            .card-morning__container
                .card-morning__wrap
                    .card-morning__header
                        h5
                            span
                                | Сыворотка c витамином С
                                br
                                | SUPREME GLOW

                    .card-morning__slider
                        include cards/supreme-glow

                    .card-morning__footer
                        h5 Как применять
                        .card-morning__footer-content
                            .card-morning__footer-hidden
                                p
                                    | Наносить небольшое количество сыворотки на предварительно очищенную кожу утром и вечером. Можно использовать под крем. Не использовать совместно с  Ночной мультикислотной сывороткой NIGHT MIRACLE в одном этапе.
                                    br
                                    br
                                    | Если ночная сыворотка используется через день, то сыворотка с витамином С вечером используется тоже через день, в те дни, когда не используется ночная мультикислотная сыворотка.
                                button._showAllText(type="button") далее
                            span
                                img.giphy(data-src="img/giphy.gif" src="" alt="")


.container.animation-element.card-morning.card-morning_additional._resultBack
    .row
        .col-12
            .divide

        .col-12
            .recommendations
                h5.recommendations__subtitle.accent
                    | Устраняем воспаления на спине
                    span
                        | кожа на теле всегда чистая
                        br
                        | и красивая

        .col-12
            .card-morning__container
                .card-morning__wrap
                    .card-morning__header
                        h5
                            span
                                | Сыворотка-спрей
                                br
                                | ACNE FREE SOLUTION

                    .card-morning__slider
                        include cards/acne-free-solution

                    .card-morning__footer
                        h5 Как применять
                        .card-morning__footer-content
                            .card-morning__footer-hidden
                                p Перед использованием сыворотки-спрея очистите кожу. Равномерно распылите сыворотку-спрей на сухую поверхность проблемного участка кожи и дождитесь полного впитывания средства. Не смывайте. Используйте сыворотку-спрей 2 раза в день утром и вечером.
                                button._showAllText(type="button") далее
                            span
                                img.giphy(data-src="img/giphy.gif" src="" alt="")
