//- visible hidden
section#resultBefore18.step.results.hidden
    .step__wrap

        .container.animation-element
            .row
                .col-12
                    h2.results__title
                        span.accent Благодарим за ответ!

        .container.animation-element
            .row
                .col-12
                    h2.results__subtitle.results__subtitle_large-txt Мы не рекомендуем вам проходить этот тест, поскольку все рекомендации подготовлены специалистами для взрослой кожи — для людей старше 18 лет.

        .container.animation-element
            .row
                .col-12
                    .results__derivation.border-block
                        h4 У вас кожа более чувствительна к кислотам, а эпидермис не до конца сформировался. Поэтому продукты для взрослой кожи могут быть излишне агрессивны для вашей.

                        ul
                            li.title.text-center
                                | Но у нас есть решение для проблемной жирной или комбинированной кожи,
                                br.d-md-none
                                | осложненной подростковым
                                br.d-md-none
                                | акне.

                        h5 Вывод

                        p Лечить кожу надо именно сейчас, не допуская развития масштабных воспалений.

        .container.animation-element
            .row
                .col-12
                    .results__cosmetologist
                        .results__cosmetologist__pic
                            .results__cosmetologist__quotes
                                include ../../../img/i-quotes.svg

                            .results__cosmetologist__img

                        p Отдельные средства в уходе за жирной и комбинированной кожей не дают выраженного эффекта. Нужен комплексный подход, в результате которого кожа перестроится на здоровый режим работы.

        include ../components/complex-for-you

        include ../recommendations/title

        .container.animation-element.card-morning
            .row
                .col-12
                    .card-morning__container
                        .card-morning__wrap
                            .card-morning__header
                                p
                                    include ../../../img/morning.svg
                                    span Утро
                                h5
                                    include ../../../img/res-morning-one.svg
                                    span.small-offset
                                        | Умываемся
                                        br
                                        | очищающей пенкой
                                        br
                                        | IDEAL BALANCE

                            .card-morning__slider
                                .slider
                                    mark
                                        p листайте
                                        span.slide-horizontal-animation
                                            include ../../../img/i-scroll-hand.svg
                                    .swiper
                                        .swiper-wrapper
                                            include cards/1
                                            include cards/text
                                            include cards/2
                                            include cards/3
                                            include cards/text
                                            include cards/4
                                        .swiper-pagination


                            .card-morning__footer
                                h5 Как применять
                                div
                                    p
                                        | Небольшое количество средства вспенить с капелькой воды и нанести на влажное лицо. Помассировать круговыми движениями, тщательно смыть водой.
                                        br
                                        | Не наносить на кожу вокруг глаз.
                                    span(style="background-image: url('../img/giphy.gif');")

                            .card-morning__underline

                        .card-morning__wrap
                            .card-morning__header
                                h5
                                    include ../../../img/res-morning-two.svg
                                    span.large-offset
                                        | Наносим
                                        br
                                        | тоник-активатор
                                        br
                                        | HERBAL POWER

                            .card-morning__slider
                                .slider
                                    mark
                                        p листайте
                                        span.slide-horizontal-animation
                                            include ../../../img/i-scroll-hand.svg
                                    .swiper
                                        .swiper-wrapper
                                            include cards/1
                                            include cards/text
                                            include cards/2
                                            include cards/3
                                            include cards/text
                                            include cards/4
                                        .swiper-pagination


                            .card-morning__footer
                                h5 Как применять
                                div
                                    p
                                        | Наносить с помощью ватного диска массажными движениями до полного впитывания. Не требует смывания. Возможно ощущение легкого покалывания на коже во время использования.
                                        br
                                        | Не наносить на кожу вокруг глаз.
                                    span(style="background-image: url('../img/giphy.gif');")

                            .card-morning__underline


                        .card-morning__wrap
                            .card-morning__header
                                h5
                                    include ../../../img/res-morning-three.svg
                                    span.large-offset
                                        | Наносим легкий
                                        br
                                        | крем-флюид
                                        br
                                        | AQUA ESSENCE

                            .card-morning__slider
                                .slider
                                    mark
                                        p листайте
                                        span.slide-horizontal-animation
                                            include ../../../img/i-scroll-hand.svg
                                    .swiper
                                        .swiper-wrapper
                                            include cards/1
                                            include cards/text
                                            include cards/2
                                            include cards/3
                                            include cards/text
                                            include cards/4
                                        .swiper-pagination


                            .card-morning__footer
                                h5 Как применять
                                div
                                    p
                                        | Равномерно распределить небольшое количество крема по коже лица.
                                        br
                                        | Удобный дозатор обеспечивает очень экономичный расход всех средств.
                                    span(style="background-image: url('../img/giphy.gif');")


        .container.animation-element.card-night
            .row
                .col-12
                    .card-night__container
                        .card-night__wrap
                            .card-night__header
                                p
                                    include ../../../img/night.svg
                                    span Вечер
                                h4 Возращаемся домой и обязательно находим 5 минут для своей красоты

                            .card-night__subtitle Повторяем утренний комплекс ухода

                            .card-night__slider
                                .slider
                                    mark
                                        p листайте
                                        span.slide-horizontal-animation
                                            include ../../../img/i-scroll-hand.svg
                                    .swiper
                                        .swiper-wrapper
                                            include cards/1
                                            include cards/text
                                            include cards/2
                                            include cards/3
                                            include cards/text
                                            include cards/4
                                        .swiper-pagination

                            .card-night__underline

                        .card-night__wrap
                            .card-night__caption
                                p Еженедельный уход
                                span для быстрого и надежного результата

                            .card-night__header
                                h5
                                    include ../../../img/res-night-one.svg
                                    span.small-offset
                                        | Проводим процедуру глубокого
                                        br
                                        | очищения и эксфолиации
                                        br
                                        | энзимной пилинг-пудрой

                            .card-night__subtitle
                                include ../../../img/i-card-subtitle.svg
                                | 2 раза в неделю вечером

                            .card-night__slider
                                .slider
                                    mark
                                        p листайте
                                        span.slide-horizontal-animation
                                            include ../../../img/i-scroll-hand.svg
                                    .swiper
                                        .swiper-wrapper
                                            include cards/1
                                            include cards/text
                                            include cards/2
                                            include cards/3
                                            include cards/text
                                            include cards/4
                                        .swiper-pagination

                            .card-night__footer
                                h5 Как применять
                                .card-night__footer-content
                                    .card-night__footer-hidden
                                        p
                                            | Насыпаем на влажную ладонь 0,5 чайной ложки пудры, вспениваем ее с водой, наносим на влажное лицо, шею и зону декольте. 1 минуту массируем лицо по массажным линиям.
                                            br
                                            br
                                            | Еще раз вспениваем с водой. Тщательно смываем водой.
                                            br
                                            br
                                            | Для глубокого очищения можно оставить средство на коже на 2-3 минуты.
                                            br
                                            br
                                            | Энзимная пудра применяется после очищения кожи при помощи очищающей пенки IDEAL BALANCE
                                        button(type="button") далее
                                    span(style="background-image: url('../img/giphy.gif');")

                            .card-night__underline

                        .card-night__wrap
                            .card-night__header
                                h5
                                    include ../../../img/res-night-two.svg
                                    span.large-offset
                                        | Наносим
                                        br
                                        | умный пилинг
                                        br
                                        | SMART PEEL SYSTEM 8%

                            .card-night__subtitle
                                include ../../../img/i-card-subtitle.svg
                                | 1 раз в неделю

                            .card-night__slider
                                .slider
                                    mark
                                        p листайте
                                        span.slide-horizontal-animation
                                            include ../../../img/i-scroll-hand.svg
                                    .swiper
                                        .swiper-wrapper
                                            include cards/1
                                            include cards/text
                                            include cards/2
                                            include cards/3
                                            include cards/text
                                            include cards/4
                                        .swiper-pagination

                            .card-night__footer
                                h5 Как применять
                                .card-night__footer-content
                                    .card-night__footer-hidden
                                        p
                                            | Наносим пилинг на сухую, предварительно очищенную кожу лица. Выдержать пилинг на коже 3-10 минут (начинать с 5 минут в первый раз и постепенно с каждой процедурой увеличивать время выдержки; максимальное время - 10 минут).
                                            br
                                            br
                                            | Тщательно смыть пилинг прохладной водой и просушить кожу. После процедуры нанести крем.
                                            br
                                            br
                                            | Эту процедуру лучше проводить в пятницу вечером, чтобы кожа за выходные могла спокойно восстановиться (без тонального крема и пудры).
                                        button(type="button") далее
                                    span(style="background-image: url('../img/giphy.gif');")
















        include ../components/where-buy-button
        include ../components/ritual
        include ../components/results-slider
        include ../components/socials
        include ../components/important

        .container.animation-element
            .row
                .col-12
                    .results__brand
                        .results__brand__logo
                            include ../../../img/logo.svg

                        h5
                            | Бренд профессиональной космецевтики, разработанный компанией ESTILAB BEAUTE FRANCE. Высокая эффективность систем ухода подтверждена клиническими исследованиями.
                            br
                            br
                            | Бренд разработан компанией ESTILAB (Франция). Производство локализовано в России.
                            br
                            br
                            | Бренд занял достойное место среди популярных в Европе марок космецевтической продукции. Теперь мы хотим, чтобы продукция  ICONSKIN  стала доступной для российских женщин.

                        .results__brand__image
                            .pic
                                .quotes
                                    include ../../../img/i-quotes.svg
                                .img
                            p Мы понимаем, что купить сразу комплекс всех средств для ухода может быть накладно.

                        ul
                            li.caption К сожалению, профессиональная космецевтика не может стоить дешево. Впечатляющий результат гарантируют:
                            li инновационные ингредиенты,
                            li научные исследования,
                            li клинические испытания.


        .container.animation-element
            .row
                .col-12
                    .results__sale
                        h4 Поэтому мы дарим скидки
                        .results__sale__wrap
                            include ../components/sale

        include ../components/subscribe
        include ../components/retest