//- visible hidden
section#resultBefore18.step.results.visible
    .step__wrap

        .container.animation-element
            .row
                .col-12
                    h2.results__title
                        span.accent Благодарим за ответ!

        .container.animation-element
            .row
                .col-12
                    h2.results__subtitle.results__subtitle_large-txt Мы не рекомендуем вам проходить этот тест, поскольку все рекомендации подготовлены специалистами для взрослой кожи — для людей старше 18 лет.

        .container.animation-element
            .row
                .col-12
                    .results__derivation.border-block
                        h4 У вас кожа более чувствительна к кислотам, а эпидермис не до конца сформировался. Поэтому продукты для взрослой кожи могут быть излишне агрессивны для вашей.

                        ul
                            li.title.text-center
                                | Но у нас есть решение для проблемной жирной или комбинированной кожи,
                                br.d-md-none
                                | осложненной подростковым
                                br.d-md-none
                                | акне.

                        h5 Вывод

                        p Лечить кожу надо именно сейчас, не допуская развития масштабных воспалений.

        .container.animation-element
            .row
                .col-12
                    .results__cosmetologist
                        .results__cosmetologist__pic
                            .results__cosmetologist__quotes
                                include ../../../img/i-quotes.svg

                            .results__cosmetologist__img

                        p Отдельные средства в уходе за жирной и комбинированной кожей не дают выраженного эффекта. Нужен комплексный подход, в результате которого кожа перестроится на здоровый режим работы.

        include ../components/complex-for-you
        include ../components/where-buy-button
        include ../components/ritual
        include ../components/results-slider
        include ../components/socials
        include ../components/important
        include ../components/brand
        include ../components/sale
        include ../components/subscribe
        include ../components/retest