//- visible hidden
section#resultMain.step.results.hidden
    .step__wrap

        .container.animation-element
            .row
                .col-12
                    h2.results__title.d-flex.flex-column.align-items-center
                        span.accent Благодарим за ответ!
                        span.normal Вы успешно прошли тест

        .container.animation-element
            .row
                .col-12
                    h2.results__subtitle
                        | Эксперты-дерматологи подготовили
                        br
                        | для вас персональные рекомендации

        .container.animation-element
            .row
                .col-12
                    span.results__title-line


        .container.animation-element
            .row
                .col-12
                    p.results__title-total
                        | У вас комбинированная кожа,
                        br
                        | не осложненная акне