//- visible hidden
section#resultMain.step.results.hidden
    .step__wrap

        .container.animation-element
            .row
                .col-12
                    h2.results__title.d-flex.flex-column.align-items-center
                        span.accent Поздравляем!
                        span.normal Вы успешно прошли тест

        .container.animation-element
            .row
                .col-12
                    h2.results__subtitle
                        | Эксперты-дерматологи подготовили
                        br
                        | для вас персональные рекомендации

        .container.animation-element
            .row
                .col-12
                    span.results__title-line

        .container.animation-element
            .row
                .col-12
                    p.results__title-total
                        | У вас комбинированная кожа,
                        br
                        | не осложненная акне

        .container.animation-element
            .row
                .col-12
                    .results__derivation.border-block
                        h4
                            | Ваша кожа в некоторых зонах страдает
                            br
                            | от избыточного салоотделения.
                            br
                            | А в некоторых — от сухости и шелушения.

                        ul
                            li.title Возможные последствия:
                            li в местах повышенной жирности поры забиваются кожным салом, расширяются и могут воспалиться;
                            li в сухих местах образуется переизбыток мертвого эпидермиса, который плохо удерживает влагу и перекрывает салоотделение. Результат — обильное шелушение, закупорка пор, тусклость и черные точки.

                        h5 Вывод

                        p Проблемы есть, и надо их решать именно сейчас, не допуская развития масштабных воспалений

        .container.animation-element
            .row
                .col-12
                    .results__cosmetologist
                        .results__cosmetologist__pic
                            .results__cosmetologist__quotes
                                include ../../../img/i-quotes.svg

                            .results__cosmetologist__img

                        p
                            span Отдельные средства в уходе за жирной и комбинированной кожей не дают выраженного эффекта.
                            span Нужен комплексный подход, в результате которого кожа перестроится на здоровый режим работы.

        include ../components/complex-for-you
        include ../components/where-buy-button
        include ../components/ritual
        include ../components/results-slider
        include ../components/socials
        include ../components/important

        .container.animation-element
            .row
                .col-12
                    .results__brand
                        .results__brand__logo
                            include ../../../img/logo.svg

                        h5 Бренд профессиональной космецевтики, разработанный компанией ESTILAB BEAUTE FRANCE. Высокая эффективность систем ухода подтверждена клиническими исследованиями.

                        .results__brand__image
                            .pic
                                .quotes
                                    include ../../../img/i-quotes.svg
                                .img
                            p Мы понимаем, что купить сразу комплекс всех средств для ухода может быть накладно.

                        ul
                            li.caption К сожалению, профессиональная космецевтика не может стоить дешево. Впечатляющий результат гарантируют:
                            li инновационные ингредиенты,
                            li научные исследования,
                            li клинические испытания.

        .container.animation-element
            .row
                .col-12
                    .results__sale
                        h4 Поэтому мы дарим скидки
                        .results__sale__wrap
                            include ../components/sale

        include ../components/subscribe
        include ../components/retest