section#results.step.step_invisible.hidden
    .step__wrap
        .container.animation-element
            .row
                .col-12
                    h3.section__title Заголовок блока результатов

        .container.animation-element
            .row
                .col-12
                    p Содержание блока результатов