//- visible hidden
section#resultBefore18.step.results.hidden
    .step__wrap

        .container.animation-element
            .row
                .col-12
                    h2.results__title
                        span.accent Благодарим за ответ!

        .container.animation-element
            .row
                .col-12
                    h2.results__subtitle.results__subtitle_large-txt Мы не рекомендуем вам проходить этот тест, поскольку все рекомендации подготовлены специалистами для взрослой кожи — для людей старше 18 лет.