//- visible hidden
section#resultTherapy.step.results.hidden
    .step__wrap

        .container.animation-element
            .row
                .col-12
                    h2.results__title
                        span.accent Благодарим вас за ответ!

        .container.animation-element
            .row
                .col-12
                    h2.results__subtitle В вашем случае в период серьезного лечения мы настоятельно рекомендуем воздержаться от применения косметических средств без согласования их с вашим лечащим врачом.