//- visible hidden
section#resultTherapy.step.results.hidden
    .step__wrap

        .container.animation-element
            .row
                .col-12
                    h2.results__title
                        span.accent Благодарим вас за ответ!

        .container.animation-element
            .row
                .col-12
                    h2.results__subtitle.mb-5
                        | В вашем случае в период серьезного лечения мы настоятельно рекомендуем воздержаться
                        br
                        | от применения косметических средств без согласования их с вашим лечащим врачом.

        .container.animation-element
            .row
                .col-12
                    .results__cosmetologist
                        .results__cosmetologist__pic
                            .results__cosmetologist__quotes
                                include ../../../img/i-quotes.svg

                            .results__cosmetologist__img

                        p Рекомендуем вернуться к космецевтической продукции ICON SKIN после выздоровления для профилактики нового воспаления.


        .container.animation-element
            .row
                .col-12
                    .results__brand
                        .results__brand__logo
                            include ../../../img/logo.svg

                        h5
                            | Бренд профессиональной космецевтики, разработанный компанией ESTILAB. Высокая эффективность систем ухода подтверждена клиническими исследованиями.
                            br
                            br
                            | Бренд занял достойное место среди популярных в Европе марок космецевтической продукции. Теперь мы хотим, чтобы продукция  ICONSKIN  стала доступной для российских женщин.

        .container.animation-element.second-accent-background
            .row
                .col-12
                    .results__for-you
                        p
                            | Отдельные средства в уходе за жирной и комбинированной кожей
                            br
                            | не дают выраженного эффекта.
                            br
                            br
                            | Нужен комплексный подход, в результате которого кожа перестроится
                            br
                            | на здоровый режим работы.

        include ../components/results-slider
        include ../components/socials

        .container.animation-element
            .row
                .col-12
                    .results__sale
                        h4 Поделитесь  этой возможностью с подругами
                        .results__sale__wrap
                            include ../components/sale

        include ../components/subscribe
        include ../components/retest