//- Include used template for this page
extends ../../templates/default/template

//- Variables for include this in used template
block variables
    - let title       = 'Icon skin Quiz'
    - let description = 'Write description for this page here'
    - let keywords    = 'Write keywords for this page here'
    - let pageClass   = 'page-index'

block content
    include first-screen/first-screen

    section#activeQuestionPlace

    include questions/age
    include questions/restrictions
    include questions/first
    include questions/second
    include questions/third
    include questions/fourth
    include questions/fifth-one
    include questions/fifth-two
    include questions/sixth
    include questions/seventh

    include results/small
    include results/therapy
    include results/main