.swiper-slide
    .review
        .review__raiting
            .review__data 1 Октября 2020
            .review__stars
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg

        .review__name
            span Виктория Ш.
            span.pic(style="background-image: url('img/reviews/icon-1.png');")

        .review__buy
            include ../../../img/i-check-buy.svg
            span Товар куплен на OZON

        ul.review__list
            li
                span Достоинства
                span Ляяяя:) ну это крутой набор
            li
                span Недостати
                span Не обнаружила
            li
                span Комментарий
                span
                    | Уже лет 8 я мучаюсь с акне и постакне, лечила с дерматологом : таблетки (антибиотики), переливание крови, много кремов и мазей, гормональные таблетки и тд.... но сейчас спустя две недели с icon skin моя кожа преобразилась,
                    br
                    | Фото «до» сверху

        .review__pic
            img(src="img/reviews/1.jpg" alt="")