.swiper-slide
    .review
        .review__raiting
            .review__data 18 Декабря 2020
            .review__stars
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg

        .review__name
            span Елена М.
            span.pic Е

        .review__buy
            include ../../../img/i-check-buy.svg
            span Товар куплен на OZON

        ul.review__list
            li
                span Достоинства
                span 1. Товар пришёл отлично упакованный - в отдельную коробку и ещё в фирменную косметичку. Каждый тюбик отдельно запечатан, упаковка не нарушена. 2. Тестирую неделю, за это время успела использовать тоник-активатор, энзимную очищающую эмульсию, глиняную очищающую маску и тонирующий флюид. Рузультаты отличные! Стало заметно меньше чёрных и белых точек, воспаление случилось только одно (а обычно по несколько воспалений но носу и подбородке каждый день!). В общем, очень довольна и планирую продолжать пользоваться. 3. Отличная цена за столько продуктов сразу.
            li
                span Недостати
                span Пока не вижу
            li
                span Комментарий
                span Для меня эта линейка стала приятным открытием! Наконец кожа стала более ровной - оказывается, дело не только в питании, но и в правильном уходе.