.swiper-slide
    .review
        .review__raiting
            .review__data 10 Января 2021
            .review__stars
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg

        .review__name
            span Мамкина А.
            span.pic.pic_reviews(data-src="img/reviews/icon-3.png")

        .review__buy
            include ../../../img/i-check-buy.svg
            span Товар куплен на OZON

        ul.review__list
            li
                span Достоинства
                span Очень переживала, а зря! Прекрасная линейка очищающих средств
            li
                span Недостати
                span Нет

        .review__pic
            img.reviews(data-src="img/reviews/1.jpg" src="" alt="")