.swiper-slide
    .review
        .review__raiting
            .review__data 27 Ноября 2020
            .review__stars
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg

        .review__name
            span
                | Пльзователь &nbsp;
                br.d-none.d-md-block
                | предпочёл
                br
                | скрыть свои &nbsp;
                br.d-none.d-md-block
                | данные
            span.pic П

        .review__buy
            include ../../../img/i-check-buy.svg
            span Товар куплен на OZON

        ul.review__list
            li
                span Достоинства
                span Высыпаний стало меньше, цвет лица ровнее
            li
                span Недостати
                span Покупала сначала такой же набор, только миниверсию, потом взяла полноразмерный. Все нравится, кожа стала лучше.

        .review__pic
            img(src="img/reviews/1.jpg" alt="")