.swiper-slide
    .review
        .review__raiting
            .review__data 2 Декабря 2020
            .review__stars
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg

        .review__name
            span Татьяна В.
            span.pic Т

        .review__buy
            include ../../../img/i-check-buy.svg
            span Товар куплен на OZON

        ul.review__list
            li
                span Достоинства
                span Косметика работает
            li
                span Недостати
                span Нет

            li
                span Комментарий
                span Косметика действительно работает! Нанеся ее вечером перед сном, утром просываешься в прямом смысле с новой кожей!

        .review__pic
            img(src="img/reviews/1.jpg" alt="")