.swiper-slide
    .review
        .review__raiting
            .review__data 15 Мая 2020
            .review__stars
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg

        .review__name
            span Марина Ш.
            span.pic М

        .review__buy
            include ../../../img/i-check-buy.svg
            span Товар куплен на OZON

        ul.review__list
            li
                span Достоинства
                span Очень достойный набор, упаковано все очень аккуратно, каждая бутылочка в отдельном пакете, се сложено в сумочку, качество замечательное, ребёнок начал использовать, первые признаки улучшения на лица, будем продолжать
            li
                span Недостати
                span Нет

        .review__pic
            img.reviews(data-src="img/reviews/1.jpg" src="" alt="")