.swiper-slide
    .review
        .review__raiting
            .review__data 11 Сентября 2020
            .review__stars
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg
                include ../../../img/i-star.svg

        .review__name
            span Сентюрина Ирина
            span.pic С

        .review__buy
            include ../../../img/i-check-buy.svg
            span Товар куплен на OZON

        ul.review__list
            li
                span Достоинства
                span Брала со скидкой. У сына 19 лет тяжелаю форма акне. Многое перепробовали. Косметолог посоветовал данную систему. пользуем больше месяца, расход небольшой. Сын алергик, но данные средства аллергии нет. Через неделю после постоянного использования началось улучшение. Действительно работает при использовании согласно инструкции. Будем брать еще!
            li
                span Недостати
                span пока не обнаружили)

        .review__pic
            img.reviews(data-src="img/reviews/1.jpg" src="" alt="")