section#questionOne.step.visible(
    data-this-step-id="questionOne"
    data-next-step-id="questionTwo"
    data-prev-step-id="false")
    .step__wrap
        .container.animation-element
            .row
                .col-12
                    h3.section__title Заголовок первого вопроса

        .container.animation-element
            .row
                .col-12
                    p Содержание первого вопроса

        .container.animation-element
            .row
                .col-12
                    button.btn.btn_next-step Далеше