@import "../../../templates/default/scss/variables";

.recommendations {

    margin-bottom: 20px;

    @media (min-width: $md) {
        margin-bottom: 40px;
    }

    &__title {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $color-accent-primary;
        margin-top: 15px;
        margin-bottom: 20px;

        @media (min-width: $md) {
            margin-top: 70px;
            margin-bottom: 60px;
            font-size: 20px;
            line-height: 24px;
        }

   }

    &__line {
        display: block;
        position: relative;
        width: 60%;
        height: 1px;
        left: 20%;
        background-color: $color-accent-primary;

        @media (min-width: $md) {
            width: 480px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__subtitle {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: $color-accent-secondary;
        margin-top: 25px;

        @media (min-width: $md) {
            font-size: 22px;
            line-height: 27px;
            margin-top: 60px;
        }

        span {
            display: block;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: $color-font-primary;
            margin-top: 5px;

            @media (min-width: $md) {
                font-size: 18px;
                line-height: 21px;
                margin-top: 15px;
            }
        }
    }
}

.card-morning {

    &.for-everyday {
        background-color: #f3f3f3;

        @media (min-width: $md) {
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 52%;
            height: 5px;
            max-width: 480px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #38B2B8;
            border-radius: 999px;
        }

        &::before {
            top: 0;
            margin-top: -2px;
        }
    }

    &_additional {
        margin-top: 5px;
    }

    &__container {
        padding: 10px 0 30px;

        @media (min-width: $md) {
            padding-top: 0;
            padding-bottom: 80px;
        }
    }

    &__wrap {
        max-width: 440px;
        margin: 0 auto;
    }

    &__preheader {
        font-size: 17px;
        line-height: 1.2;
        font-weight: 800;

        text-align: center;
        color: #c95192;
        margin-top: 15px;
        margin-bottom: 20px;

        @media (min-width: $md) {
            font-size: 24px;
            margin-top: 60px;
            margin-bottom: 50px;

        }

        span {
            display: block;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            margin-top: 1px;

            @media (min-width: $md) {
                font-size: 20px;
                margin-top: 15px;
            }
        }
    }

    &__header {
        display: flex;
        align-items: flex-start;

        p {
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 74px;
            margin-right: 15px;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: $color-accent-secondary;

            @media (min-width: $md) {
                font-size: 16px;
                line-height: 19px;
                width: 95px;
                flex: none;
                margin-right: 20px;
            }

            svg {
                max-width: 100%;
                width: 74px;
                height: auto;

                @media (min-width: $md) {
                    width: 95px;
                }
            }

            span {
                display: block;
                margin-top: 5px;
            }
        }

        h5 {
            display: flex;
            align-items: center;

            span {
                display: block;
                position: relative;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                align-items: center;

                @media (min-width: $md) {
                    font-size: 18px;
                    line-height: 21px;
                }
            }

            span span {
                font-size: 14px;
                color: $color-accent-primary;
                font-weight: normal;
                margin-bottom: -20px;

                @media (min-width: $md) {
                    font-weight: 400;
                    margin-top: 7px;
                    font-size: 18px;
                }
            }

            svg {
                width: auto;
                height: 66px;
                flex: 1 0 auto;

                @media (min-width: $md) {
                    height: 82px;
                }
            }
        }
    }

    &__slider {
        position: relative;
        width: 100%;
        margin-top: 30px;

        @media (min-width: $md) {
            margin-top: 55px;
        }
    }

    &__footer {
        margin-top: 10px;

        @media (min-width: $md) {
            margin-top: 35px;
        }

        h5 {
            display: block;
            position: relative;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            padding-bottom: 10px;
            margin-bottom: 10px;
            width: 100px;

            @media (min-width: $md) {
                font-size: 18px;
                line-height: 21px;
                width: 130px;
            }

            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: $color-accent-secondary;
                left: 0;
                bottom: 0;
            }
        }

        &-body {
            display: flex;
            font-size: 12px;
            line-height: 14px;

            @media (min-width: $md) {
                font-size: 16px;
                line-height: 19px;
            }

            span {
                position: relative;
                flex: 1 0 auto;
                display: inline-block;
                float: right;
                width: 87px;
                height: 105px;
                border-radius: 10px;
                margin-left: 10px;
                background-color: #eaeaea;
                overflow: hidden;

                @media (min-width: $md) {
                    width: 115px;
                    height: 151px;
                    margin-left: 23px;
                    margin-top: -40px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &-content {
            display: flex;
            font-size: 12px;
            line-height: 14px;
            position: relative;

            span {
                flex: 1 0 auto;
                display: inline-block;
                float: right;
                width: 87px;
                height: 105px;
                border-radius: 10px;
                margin-left: 10px;
                background-color: #eaeaea;
                overflow: hidden;

                @media (min-width: $md) {
                    width: 115px;
                    height: 151px;
                    margin-left: 23px;
                    margin-top: -40px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &-hidden {
            p {
                position: relative;
                display: inline-block;
                width: 100%;
                height: auto;
                max-height: 70px;
                overflow: hidden;
                transition: max-height .5s linear;

                @media (min-width: $md) {
                    max-height: 80px;
                    font-size: 16px;
                    line-height: 19px;
                }

                &.visible {
                    max-height: 300px;

                    @media (min-width: $md) {
                        max-height: 400px;
                    }
                }
            }

            button {
                display: inline-block;
                position: relative;
                //color: $color-font-light;
                color: $color-font-primary;
                left: 0;
                bottom: -5px;
                padding: 0;

                @media (min-width: $md) {
                    font-size: 16px;
                    line-height: 19px;
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $color-font-primary;
                    //background-color: $color-font-light;
                    opacity: 0.7;
                }
            }
        }
    }

    &__underline {
        position: relative;
        width: 60%;
        height: 1px;
        left: 20%;
        background-color: $color-accent-primary;
        margin-top: 30px;
        margin-bottom: 30px;

        @media (min-width: $md) {
            width: 480px;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 60px;
            margin-bottom: 60px;
        }
    }
}

.card-night {
    position: relative;

    @media (min-width: $md) {
        box-shadow: inset 0px -50px 0px 0px rgba(243,243,243,1);
    }

    & > .row {
        background-color: #093248;
        color: $color-font-light;

        @media (min-width: $md) {
            border-radius: 30px;
        }
    }

    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        width: 52%;
        height: 5px;
        max-width: 480px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #38B2B8;
        border-radius: 999px;
    }

    &::before {
        top: 0;
        margin-top: -2px;
    }

    &::after  {
        bottom: 0;
        margin-bottom: -2px;
    }
    
    &.before-everyday::after {
        display: none;
    }

    &__container {
        padding: 30px 0 40px;

        @media (min-width: $md) {
            padding-top: 70px;
            padding-bottom: 70px;
        }
    }

    &__wrap {
        max-width: 440px;
        margin: 0 auto;
    }

    &__caption {
        p {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: $color-accent-secondary;
            margin-bottom: 5px;
        }

        span {
            display: block;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: $color-accent-secondary;
            margin-bottom: 20px;
        }
    }

    &__header {
        display: flex;
        align-items: flex-start;

        p {
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 74px;
            margin-right: 25px;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: $color-accent-secondary;

            @media (min-width: $md) {
                font-size: 16px;
                line-height: 19px;
                width: 95px;
                flex: none;
                margin-right: 40px;
            }

            svg {
                max-width: 100%;
                width: 74px;
                height: auto;

                @media (min-width: $md) {
                    width: 95px;
                }
            }

            span {
                display: block;
                margin-top: 5px;
            }
        }

        h4 {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;

            @media (min-width: $md) {
                font-size: 22px;
                line-height: 26px;
            }
        }

        h5 {
            display: flex;
            align-items: center;

            span {
                display: block;
                position: relative;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                align-items: center;

                @media (min-width: $md) {
                    font-size: 18px;
                    line-height: 21px;
                }
            }

            svg {
                width: auto;
                height: 66px;
                flex: 1 0 auto;

                @media (min-width: $md) {
                    height: 82px;
                }
            }
        }
    }

    &__subtitle {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-top: 15px;
        margin-bottom: 35px;
        padding-left: 14px;

        @media (min-width: $md) {
            justify-content: center;
            margin-top: 30px;
        }

        svg {
            margin-right: 10px;
        }
    }

    &__divide-txt {
        display: flex;
        align-items: center;
        font-weight: bold;
        letter-spacing: 0.4px;
        font-size: 17px;
        line-height: 17px;
        margin-bottom: 30px;
        justify-content: center;
        text-transform: uppercase;
        color: $color-accent-secondary;

        @media (min-width: $md) {
            margin-top: 40px;
            margin-bottom: 60px;
            font-size: 24px;
        }
    }

    &__slider {
        position: relative;
        width: 100%;
        margin-top: 30px;

        @media (min-width: $md) {
            margin-top: 55px;
        }
    }

    .swiper-pagination-bullet {
        background-color: #e0e0e0;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: #bdbdbd !important;
    }

    mark {
        p {
            color: $color-font-light;
        }

        path {
            fill: $color-font-light;
        }
    }

    &__footer {
        margin-top: 10px;

        h5 {
            display: block;
            position: relative;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            padding-bottom: 10px;
            margin-bottom: 10px;
            width: 100px;

            @media (min-width: $md) {
                font-size: 18px;
                line-height: 21px;
                width: 130px
            }

            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: $color-accent-secondary;
                left: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }

        &-content {
            display: flex;
            font-size: 12px;
            line-height: 14px;
            position: relative;

            @media (min-width: $md) {
                font-size: 16px;
                line-height: 19px;
            }

            span {
                flex: 1 0 auto;
                display: inline-block;
                float: right;
                width: 87px;
                height: 105px;
                border-radius: 10px;
                margin-left: 10px;
                background-color: #eaeaea;
                overflow: hidden;

                @media (min-width: $md) {
                    width: 115px;
                    height: 151px;
                    margin-left: 23px;
                    margin-top: -40px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &-hidden {
            p {
                position: relative;
                display: inline-block;
                width: 100%;
                height: auto;
                max-height: 70px;
                overflow: hidden;
                transition: max-height .5s linear;

                @media (min-width: $md) {
                    max-height: 80px;
                    font-size: 16px;
                    line-height: 19px;
                }

                &.visible {
                    max-height: 300px;

                    @media (min-width: $md) {
                        max-height: 400px;
                    }
                }
            }

            button {
                display: inline-block;
                position: relative;
                color: $color-font-light;
                left: 0;
                bottom: -5px;
                padding: 0;

                @media (min-width: $md) {
                    font-size: 16px;
                    line-height: 19px;
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $color-font-light;
                    opacity: 0.7;
                }
            }
        }
    }

    &__underline {
        position: relative;
        width: 60%;
        height: 1px;
        left: 20%;
        background-color: $color-accent-secondary;
        margin-top: 30px;
        margin-bottom: 30px;

        @media (min-width: $md) {
            width: 480px;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 60px;
            margin-bottom: 60px;
        }
    }

    .card-night__slider + .card-night__underline {
        margin-top: 10px;

        @media (min-width: $md) {
            margin-top: 30px;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity .5s ease-out;
    cursor: grab;
    margin-bottom: 35px;
    width: 100%;
    height: auto;
    background-color: $color-back-primary;
    border: 1px solid #e6e6e6;
    box-shadow: 0 10px 10px -10px rgba(48, 48, 48, 0.5);
    border-radius: 10px;
    overflow: hidden;

    @media (min-width: $md) {
        margin-bottom: 40px;
    }

    &.card_content {
        border: 1px solid $color-accent-secondary;
        padding: 20px;
        color: $color-font-primary;
    }

    &__title {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: $color-accent-secondary;
        padding-left: 15px;
        margin-bottom: 10px;

        @media (min-width: $md) {
            font-size: 20px;
            line-height: 1.2;
            margin-bottom: 15px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        li {
            display: block;
            padding-left: 15px;
            margin-bottom: 5px;
            font-size: 9px;
            line-height: 11px;
            position: relative;

            @media (min-width: $md) {
                font-size: 14px;
                line-height: 1.2;
                margin-bottom: 7px;
            }

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 5px;
                left: 5px;
                width: 2px;
                height: 2px;
                background-color: $color-font-secondary;
                border-radius: 50%;

                @media (min-width: $md) {
                    width: 4px;
                    height: 4px;
                    left: 3px;
                    top: 6px;
                }
            }

            span {
                display: inline-block;
                margin-right: 2px;
                font-weight: bold;
                color: $color-accent-secondary;

                @media (min-width: $md) {
                    margin-right: 3px;
                }
            }
        }
    }

    img {
        @media (min-width: $md) {
            max-width: none;
        }
    }
}

.swiper-slide-active .card {
    opacity: 1;
}

.card-morning_additional + ._whereBuyBtn {
    margin-top: -25px;
}

.card-morning_additional .divide {
    display: none;
}

.card-morning_additional + .card-morning_additional .divide {
    display: block;
}

.small-offset {
    transform: translateX(-7px);

    @media (min-width: $md) {
        transform: translateX(-9px);
    }
}

.large-offset {
    transform: translateX(-20px);

    @media (min-width: $md) {
        transform: translateX(-35px);
    }
}
