.container.animation-element
    .row
        .col-12
            .recommendations
                h4.recommendations__title
                    | Через 2 месяца ваша кожа будет
                    br
                    | выглядеть здоровой, сияющей и свежей.

                span.recommendations__line

                h5.recommendations__subtitle
                    | Что нам предстоит делать?
                    span Ежедневный уход