section#firstScreen
    .container
        .row
            .col-12
                h1.h1 Заголовок для квиза
                h2.h2 Подзаголовок для квиза
                button Скролл к прогресс бару